.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

main {
  margin: 20px auto;
  max-width: 800px;
}
